* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.1);
}

main {
    padding: 20px;
}

.about, .contact, .memes {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

h2 {
    color: #35424a;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skill {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    margin: 5px;
    text-align: center;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.1);
}

.meme-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрируем изображения */
    margin: 0 -10px; /* Отрицательные отступы для компенсации отступов у изображений */
}

.meme-img {
    width: calc(100% - 20px); /* Ширина изображения с учетом отступов */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin: 10px; /* Отступ между изображениями */
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #35424a;
    font-size: 24px;
    margin-right: 15px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}